"Installs the application's internals"
VIADatabase current
ifNotNil: [
  Transcript show: 'WARNING! Not installing. Already installed!']
ifNil: [
	| db |

  VIAApplicationManager current installInGemStone.
  "Load the admin"
  VIAApplicationManager current loadAdmin: '{{via.adminEmail}}' password: '{{via.adminInitialPw}}'.

  db := VIADatabase current.

	"First time configuration"
	db
		propertyAt: #webRootPath put: '{{via.installationPath}}/via_base/web_root';
		propertyAt: #tmpPath put: '{{via.installationPath}}/tmp';
		propertyAt: #exportStoragePath put: '{{via.installationPath}}/export'.

	{% include 'configuration.st.j2' %}


	"Set domain of the first website"
	db websites first domain: '{{via.appDomains[0]}}'.

	"Enable/Disable seaside development tools"
	(WAAdmin canUnderstand: #developmentToolsEnabled) ifTrue: [
	{% if via.isBeta %}
		WAAdmin developmentToolsEnabled ifFalse: [ WAAdmin enableDevelopmentTools ].
	{% else %}
		WAAdmin developmentToolsEnabled ifTrue: [ WAAdmin disableDevelopmentTools ].
	{% endif %}
	].

].
